<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <article>
      {% for object in queryset %}
      <img src="{{object.thumbnail.url}}"></img>
      <dl>
        <dt><a href="{{ object.slug }}">{{ object.title }}</a></dt>
        <br />
        <dd>{{ object.description }}</dd>
        <br />
        <dd>{{ object.slug }}</dd>
        <br />
        <dd>{{ object.publish }}</dd>
        <br />
        <dd>{{ object.create }}</dd>
        <br />
        <dd>{{ object.update }}</dd>
        <br />
        <dd>{{ object.status }}</dd>
        <br />
      </dl>
      {% endfor %}
    </article>
  </body>
</html>
