{% extends 'base.html' %} {% load static %} {% block title %}صفحه اصلی{%endblock%}
{% block pageheading %} صفحه اصلی {% endblock %}
{% block subheading %} این صفحه اصلی است {% endblock %}
{% block image %}{%static '/blog/assets/img/home-bg.jpg' %}{% endblock%}
{% block main %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% for blog in queryset%}
        <!-- Post preview-->
        <div class="post-preview">
          <a href="{% url 'blog:post' blog.slug %}">
            <h2 class="post-title">
              {{ blog.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ blog.description | truncatewords:30 }}
            </h3>
          </a>
          <div>
            {% for cat in blog.category.all %}
              <a href="#">#{{cat.title}} </a>
            {% endfor %}
          </div>

          <p class="post-meta">
            نوشته شده توسط
            <a href="{{ blog.get_absolute_url }}">{{blog.author.get_full_name}}</a>
              در {{blog.jpublish}}
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />

      {% endfor %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" href="#!">Older Posts &larr; </a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
