{% extends 'base.html' %} {% load static %} {% block title %}پست{% endblock %}
{% block pageheading %} {{ object.title }} {% if article.is_special %} <span class="badge badge-danger">ویژه</span> {% endif%} {% endblock %} {% block subheading %}
{{ object.description | truncatewords:20 }} {% endblock %} 
{% block image %}{{object.thumbnail.url}} {% endblock%}
{% block main %}
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- <h2 class="section-heading">The Final Frontier</h2> -->
        <!-- <blockquote class="blockquote">
        </blockquote> -->
        {% if object.is_special %}
          {% if user.is_special or user == object.author or user.is_superuser %}  
          {{object.description|linebreaks|safe}}
          {% else %}
            <h4>این یک مقاله ویژه هست برای مشاهده باید <a href="#">اشتراک ویژه</a> تهیه کنید.</h4>
          {% endif %}
        {% else %}        
          {{object.description|linebreaks|safe}}
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
