{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
    </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{form.title|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{form.slug|as_crispy_field}}
                    </div>
                    <div class="col-12">
                        {{form.description|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{form.category|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{form.thumbnail|as_crispy_field}}
                        {{form.publish|as_crispy_field}}
                    </div>
                    {% if user.is_superuser %}
                        <div class="col-6">
                            {{form.status|as_crispy_field}}
                        </div>
                        <div class="col-6">
                            {{form.author|as_crispy_field}}
                        </div>
                    {% elif user.is_author %}
                        <div class="col-6">
                            <div id="div_id_status" class="mb-3">
                            <label for="id_status" class="form-label requiredField">
                            وضعیت<span class="asteriskField">*</span>
                            </label>
                            <select name="status" class="select form-select" required="" id="id_status">
                                <option value="">---------</option>
                                <option value="D">پیش‌نویس</option>
                                <option value="I">ارسال برای ادمین</option>
                            </select>
                            </div>
                        </div>                     
                    {% endif %}
                    <div class="col-6 mx-3">
                        {{form.is_special|as_crispy_field}}
                    </div>
                </div>
                <button value="submit"class="btn btn-primary">ارسال</button>
                {% if user.is_superuser and request.resolver_match.url_name == 'update-article' %}
                <a class="btn btn-danger text-light"
                    href="{% url 'account:delete-article' request.resolver_match.kwargs.pk %}">
                    حذف 
                </a>
                {% endif %}
            </form>
        </div>
    </div>
       
   
{% endblock %}