
{% extends 'registration/base.html' %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    
    <div class="card card-success ">
        <div class="card-header">
          <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
        </div>
            <div class="card-body py-4">
                <p class="py-2 text-bold text-dark">گذرواژه با موفقیت تغییر یافت</p>                    
                <a href="{% url 'account:profile' %}" class="btn btn-success">بازگشت</a>
            </div>
        </div>
</div>
{% endblock %}
