{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انجام شد</title>
</head>
<body>
    <div class="myfont" style="text-align: center;">
    
    <h1>گذرواژهٔ جدید ایجاد شد</h1>
    <p>گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید</p>
    <a href="{% url 'account:login' %}">ورود</a>
    </div>
</body>
</html>